bucket       = "<OUTPUT:bucket_name>"
key          = "bootstrap/terraform.tfstate"
region       = "<OUTPUT:bucket_region>"
encrypt      = true
kms_key_id   = "<OUTPUT:kms_key_arn>"
use_lockfile = true
expected_bucket_owner = "<OUTPUT:bucket_account_id>"
allowed_account_ids   = ["<OUTPUT:bucket_account_id>"]
